--
-- PostgreSQL database cluster dump
--

\restrict 0PFaPgcW54Qjw8EjjJZbTZzs6s2j7iFNK0gE1I3zoFofb1lwAnasaK1viuuP3rA

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE root;




--
-- Drop roles
--

DROP ROLE root;


--
-- Roles
--

CREATE ROLE root;
ALTER ROLE root WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:UJdI0Va4CsvSmVKqdu7XZA==$iqS0uphCwcJE4kBeRR9dw1y7XqH9NZHLMQPy3aXIDME=:O9bHs4mjcjWHe6LuJq/ZqSPKurea5bQS+8WzJXpT0bY=';






\unrestrict 0PFaPgcW54Qjw8EjjJZbTZzs6s2j7iFNK0gE1I3zoFofb1lwAnasaK1viuuP3rA

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX

-- Dumped from database version 14.23
-- Dumped by pg_dump version 14.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: root
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO root;

\unrestrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX
\connect template1
\restrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: root
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: root
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX
\connect template1
\restrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: root
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict MdyVOiYHuzXLlaLSS1K11bzFht1z4grCf7gpZXCT358CB6gMebWfb5ty81yMgbX

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict pryhRZchLWn5Jqp4afwC5wsaElgaLgmZVQ5V083939wgfyaK1IpYbNsvihkgfTN

-- Dumped from database version 14.23
-- Dumped by pg_dump version 14.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: root
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO root;

\unrestrict pryhRZchLWn5Jqp4afwC5wsaElgaLgmZVQ5V083939wgfyaK1IpYbNsvihkgfTN
\connect postgres
\restrict pryhRZchLWn5Jqp4afwC5wsaElgaLgmZVQ5V083939wgfyaK1IpYbNsvihkgfTN

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: root
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.customer (
    id integer NOT NULL,
    login character varying(50) NOT NULL,
    password character varying(255) NOT NULL,
    email character varying(50) NOT NULL,
    user_role character varying(50) DEFAULT 'ordinary'::character varying NOT NULL,
    registration_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customer OWNER TO root;

--
-- Name: customer_delivery_info; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.customer_delivery_info (
    id integer,
    phone_number text,
    city text,
    address text
);


ALTER TABLE public.customer_delivery_info OWNER TO root;

--
-- Name: customer_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customer_id_seq OWNER TO root;

--
-- Name: customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.customer_id_seq OWNED BY public.customer.id;


--
-- Name: customer_item; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.customer_item (
    item_id integer,
    count integer,
    customer_id integer,
    props jsonb
);


ALTER TABLE public.customer_item OWNER TO root;

--
-- Name: customer_personal_info; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.customer_personal_info (
    id integer,
    company text,
    first_name text,
    second_name text
);


ALTER TABLE public.customer_personal_info OWNER TO root;

--
-- Name: item; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.item (
    id integer NOT NULL,
    name text NOT NULL,
    price integer,
    item_type text NOT NULL,
    secondary_type text NOT NULL,
    item_picture text,
    item_description text NOT NULL,
    item_short_description text NOT NULL,
    article integer,
    visible boolean DEFAULT false NOT NULL
);


ALTER TABLE public.item OWNER TO root;

--
-- Name: item_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_id_seq OWNER TO root;

--
-- Name: item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.item_id_seq OWNED BY public.item.id;


--
-- Name: item_properties; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.item_properties (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.item_properties OWNER TO root;

--
-- Name: item_properties_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.item_properties_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_properties_id_seq OWNER TO root;

--
-- Name: item_properties_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.item_properties_id_seq OWNED BY public.item_properties.id;


--
-- Name: item_properties_values; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.item_properties_values (
    item_id integer NOT NULL,
    property_id integer NOT NULL,
    value character varying(500) NOT NULL
);


ALTER TABLE public.item_properties_values OWNER TO root;

--
-- Name: item_spec_files; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.item_spec_files (
    id integer NOT NULL,
    name text NOT NULL,
    link text NOT NULL,
    picture text NOT NULL
);


ALTER TABLE public.item_spec_files OWNER TO root;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.schema_migrations (
    version bigint NOT NULL,
    dirty boolean NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO root;

--
-- Name: spec; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.spec (
    id integer NOT NULL,
    item_id integer,
    item_patch text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.spec OWNER TO root;

--
-- Name: spec_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.spec_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.spec_id_seq OWNER TO root;

--
-- Name: spec_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.spec_id_seq OWNED BY public.spec.id;


--
-- Name: user_applications; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.user_applications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    email character varying(50) NOT NULL,
    first_name character varying(30) NOT NULL,
    second_name character varying(30) NOT NULL,
    login character varying(30) NOT NULL,
    phone_number character varying(30) NOT NULL,
    company character varying(50) NOT NULL,
    address character varying(80) NOT NULL,
    city character varying(30) NOT NULL,
    order_date date,
    items jsonb,
    order_status character varying(20) DEFAULT '╨Т ╨╛╨▒╤А╨░╨▒╨╛╤В╨║╨╡'::character varying NOT NULL
);


ALTER TABLE public.user_applications OWNER TO root;

--
-- Name: user_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.user_applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_applications_id_seq OWNER TO root;

--
-- Name: user_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.user_applications_id_seq OWNED BY public.user_applications.id;


--
-- Name: customer id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer ALTER COLUMN id SET DEFAULT nextval('public.customer_id_seq'::regclass);


--
-- Name: item id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item ALTER COLUMN id SET DEFAULT nextval('public.item_id_seq'::regclass);


--
-- Name: item_properties id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_properties ALTER COLUMN id SET DEFAULT nextval('public.item_properties_id_seq'::regclass);


--
-- Name: spec id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.spec ALTER COLUMN id SET DEFAULT nextval('public.spec_id_seq'::regclass);


--
-- Name: user_applications id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_applications ALTER COLUMN id SET DEFAULT nextval('public.user_applications_id_seq'::regclass);


--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.customer (id, login, password, email, user_role, registration_date) FROM stdin;
2	AdminUser	$2a$12$Ve.w2S.3WxHYObTfeFiP8uQjku5rkeoJvLOSeh8btunIFlL2nwot6	testUser@gmail.com	admin	2026-07-01 07:37:26.070058
3	PrimaryUser	$2a$12$h4EUVhThodORLKEqoX7Ske6GTLBqVEDiCNXbcU2OI2wdbeqX.umX.	PrimaryUser@gmail.com	ordinary	2026-07-01 07:38:23.789422
\.


--
-- Data for Name: customer_delivery_info; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.customer_delivery_info (id, phone_number, city, address) FROM stdin;
\.


--
-- Data for Name: customer_item; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: customer_personal_info; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.customer_personal_info (id, company, first_name, second_name) FROM stdin;
\.


--
-- Data for Name: item; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: item_properties; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: item_properties_values; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: item_spec_files; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.schema_migrations (version, dirty) FROM stdin;
3	f
\.


--
-- Data for Name: spec; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.spec (id, item_id, item_patch, name) FROM stdin;
\.


--
-- Data for Name: user_applications; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Name: customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.customer_id_seq', 3, true);


--
-- Name: item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.item_id_seq', 11, true);


--
-- Name: item_properties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.item_properties_id_seq', 24, true);


--
-- Name: spec_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.spec_id_seq', 1, false);


--
-- Name: user_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.user_applications_id_seq', 1, true);


--
-- Name: customer customer_email_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_email_key UNIQUE (email);


--
-- Name: customer customer_login_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_login_key UNIQUE (login);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: item item_name_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_name_key UNIQUE (name);


--
-- Name: item item_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_pkey PRIMARY KEY (id);


--
-- Name: item_properties item_properties_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_properties
    ADD CONSTRAINT item_properties_pkey PRIMARY KEY (id);


--
-- Name: item_properties_values item_properties_values_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_properties_values
    ADD CONSTRAINT item_properties_values_pkey PRIMARY KEY (item_id, property_id);


--
-- Name: item_spec_files item_spec_files_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_spec_files
    ADD CONSTRAINT item_spec_files_pkey PRIMARY KEY (id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: spec spec_item_patch_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.spec
    ADD CONSTRAINT spec_item_patch_key UNIQUE (item_patch);


--
-- Name: spec spec_name_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.spec
    ADD CONSTRAINT spec_name_key UNIQUE (name);


--
-- Name: spec spec_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.spec
    ADD CONSTRAINT spec_pkey PRIMARY KEY (id);


--
-- Name: user_applications user_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_applications
    ADD CONSTRAINT user_applications_pkey PRIMARY KEY (id);


--
-- Name: customer_delivery_info customer_delivery_info_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer_delivery_info
    ADD CONSTRAINT customer_delivery_info_id_fkey FOREIGN KEY (id) REFERENCES public.customer(id);


--
-- Name: customer_item customer_item_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer_item
    ADD CONSTRAINT customer_item_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customer(id);


--
-- Name: customer_item customer_item_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer_item
    ADD CONSTRAINT customer_item_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.item(id) ON DELETE CASCADE;


--
-- Name: customer_personal_info customer_personal_info_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.customer_personal_info
    ADD CONSTRAINT customer_personal_info_id_fkey FOREIGN KEY (id) REFERENCES public.customer(id);


--
-- Name: item_properties_values item_properties_values_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_properties_values
    ADD CONSTRAINT item_properties_values_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.item(id) ON DELETE CASCADE;


--
-- Name: item_properties_values item_properties_values_property_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_properties_values
    ADD CONSTRAINT item_properties_values_property_id_fkey FOREIGN KEY (property_id) REFERENCES public.item_properties(id);


--
-- Name: item_spec_files item_spec_files_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.item_spec_files
    ADD CONSTRAINT item_spec_files_id_fkey FOREIGN KEY (id) REFERENCES public.item(id) ON DELETE CASCADE;


--
-- Name: spec spec_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.spec
    ADD CONSTRAINT spec_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.item(id) ON DELETE CASCADE;


--
-- Name: user_applications user_applications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.user_applications
    ADD CONSTRAINT user_applications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.customer(id);


--
-- PostgreSQL database dump complete
--

\unrestrict pryhRZchLWn5Jqp4afwC5wsaElgaLgmZVQ5V083939wgfyaK1IpYbNsvihkgfTN

--
-- Database "root" dump
--

--
-- PostgreSQL database dump
--

\restrict VAt2JnYBayyTPx0mRNXz4MC78l5x4C75eslX2VvmcWrBol1YWHbrZLyD6GPEfai

-- Dumped from database version 14.23
-- Dumped by pg_dump version 14.23

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: root; Type: DATABASE; Schema: -; Owner: root
--

CREATE DATABASE root WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE root OWNER TO root;

\unrestrict VAt2JnYBayyTPx0mRNXz4MC78l5x4C75eslX2VvmcWrBol1YWHbrZLyD6GPEfai
\connect root
\restrict VAt2JnYBayyTPx0mRNXz4MC78l5x4C75eslX2VvmcWrBol1YWHbrZLyD6GPEfai

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict VAt2JnYBayyTPx0mRNXz4MC78l5x4C75eslX2VvmcWrBol1YWHbrZLyD6GPEfai

--
-- PostgreSQL database cluster dump complete
--

