.product-info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);

    grid-column:2;
    margin-right:auto;
    margin-left:auto;
    max-width: 1564px;
    width: 90%;


}

body .product-info-wrapper {
    padding-left:32px;
    padding-right:32px;
    margin-right:auto;
    margin-left:auto;

}


.product-price-info-wrapper{
    grid-area: 2 / 3 / 4 / 4;
    padding-left:32px;
    width:400px;

}

.product-price-info{
    padding:10px;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    position:sticky;
    align-content: center;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.product-price-info p.name{
    font-weight: 600;
    font-size:20px;
    margin-top:16px;
    margin-bottom:10px;
}




.product-price-info button{
    width:100%;
    border:none;
    background-color:#fdc049;
    font-size:17px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    transition: transform 0.3s ease;
}

.product-price-info button:hover{
    transform: scale(1.01);
}



.product-info__img-wrapper {
    grid-area: 2 / 1 / 4 / 2;
}

.product-info__img{
    padding:32px;

}

.product-info__img img{

    width:90%

}

.product-info__name h1 {

    margin-left: auto;
    margin-right: auto;
}
.product-info-header-wrapper{
    grid-area: 1 / 1 / 2 / 3;
    width:100%;
}

.product-info-name{
    padding:15px;
}


.product-info-description-wrapper {
    padding-left:32px;
    grid-area: 2 / 2 / 4 / 3;
}

.product-info-description{
    display:grid;
    grid-template-rows: auto auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.product-info-spec-wrapper {
    grid-area: 4 / 1 / 5 / 3;
}

.product-info-spec-wrapper {
    grid-area: 4 / 1 / 5 / 3;
}

.product-info-spec__btn-section{
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 2fr;
    grid-gap:20px;
    padding-top:20px;
}

.product-info-spec__btn-section button {
    width:100%;
    border:none;
    padding:20px;
    background-color:#fdc049;
    font-size:13px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.product-info-spec__btn-section button.active{
    border:2px solid black;
}

.product-info-props {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-info-row {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    align-items: start;
}

.product-info-name {
    font-weight: 600;
}

.product-info-value {
    padding:15px;
    word-break: break-word;

}

.product-files-wrapper{
    display:grid;
    grid-template-rows:auto;

}

.product-files{
    display:grid;
    gap:30px;
    grid-template-columns:auto 1fr;
    margin-top: 20px;
    margin-bottom:20px;
    padding:20px;
    border:1px solid lightgray;
    transition: box-shadow 0.5s ease;
    border-radius:5px;
}

.product-files:hover{

    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    border:1px solid transparent;
}

.product-files img{
    width:40px;
    height:40px;
}

.product-files a{
    text-decoration: none;
    font-weight: 600;
    color:black;
}

@media(max-width:1200px){
    .product-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        width:100%;
    }

    .product-info-header-wrapper,
    .product-info__img-wrapper,
    .product-info-description-wrapper,
    .product-price-info-wrapper,
    .product-info-spec-wrapper{
        grid-area:auto;
        grid-column:auto;
    }

    .product-info__img-wrapper{
        grid-row:2;
    }
    .product-info__img{
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center;
    }
    .product-info img {
        width: 80%;
    }

    .product-info-description-wrapper {
        padding-left: 16px;
        grid-row:3;
    }
    .product-info-spec-wrapper{
        grid-row:5;
        padding-left:16px;
    }
    .product-info-sc__btn-section{
        grid-template-columns: auto auto auto;
    }
    .product-price-info-wrapper{
        grid-row:4;
        padding:16px;
        width:100%;
    }
    .product-price-info-wrapper p{
        display:none;

    }
    .product-price-info{
        box-shadow:none;
        padding:0px;
        grid-template-rows:1fr;
    }

    .product-price-info button{
        padding:15px;
    }
    .product-info-row{
        grid-template-columns: 200px auto;
    }
}


@media (max-width:800px){
    .product-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        width:100%;
    }

    .product-info-header-wrapper,
    .product-info__img-wrapper,
    .product-info-description-wrapper,
    .product-price-info-wrapper,
    .product-info-spec-wrapper{
        grid-area:auto;
        grid-column:auto;
    }

    .product-info__img-wrapper{
        grid-row:2;
    }
    .product-info__img{
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center;
    }
    .product-info img {
        width: 80%;
    }

    .product-info-description-wrapper {
        padding-left: 16px;
        grid-row:3;
    }
    .product-info-spec-wrapper{
        grid-row:5;
        padding-left:16px;
    } .product-info-spec__btn-section{
          grid-template-columns: auto auto auto;
      }
    .product-price-info-wrapper{
        grid-row:4;
        padding:16px;
        width:100%;
    }
    .product-price-info-wrapper p{
        display:none;

    }
    .product-price-info{
        box-shadow:none;
        padding:0px;
        grid-template-rows:1fr;
    }

    .product-price-info button{
        padding:15px;
    }
    .product-info-row{
        grid-template-columns: 200px 1fr;
    }

}

@media (max-width:400px){

    .product-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
     width:100%;
    }

    .product-info-header-wrapper,
    .product-info__img-wrapper,
    .product-info-description-wrapper,
    .product-price-info-wrapper,
    .product-info-spec-wrapper{
        grid-area:auto;
        grid-column:auto;
    }

    .product-info__img-wrapper{
        grid-row:2;
    }
    .product-info__img{
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center;
    }
    .product-info img {
        width: 80%;
    }

    .product-info-description-wrapper {
        padding-left: 16px;
        grid-row:3;
    }
    .product-info-spec-wrapper{
        grid-row:5;
        padding-left:16px;
    }

    .product-info-spec__btn-section{
        grid-template-columns: auto auto auto;
    }
    .product-price-info-wrapper{
        grid-row:4;
        padding:16px;
    }
    .product-price-info-wrapper p{
        display:none;

    }
    .product-price-info{
        box-shadow:none;
        padding:0px;
        grid-template-rows:1fr;
    }

    .product-price-info button{
        padding:15px;
    }
    .product-info-row{
        grid-template-columns: 200px auto;
    }

}


.product-info-header-wrapper button{
    background-color:white;
}

.product-info-header-wrapper button.active{
    background-color:#fdc049;
}

.product-specs-add-buttons-wrapper{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: repeat(5, auto);

}

.product-specs-add-buttons-wrapper button{
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    text-align:center;
    transition: background-color 0.5s ease;
    font-weight: 600;
    font-size: 16px;
    display:grid;

}

.product-specs-add-buttons-wrapper button:hover{
    background-color:#fdc049;
}

.product-specs-add-buttons-wrapper button.active {
    background-color:#fdc049;
}

.product-specs-add-admin-wrapper{
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
}

.product-specs-add-admin-wrapper #add-btn {
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    text-align: center;

    font-weight: 600;
    font-size: 16px;
    display: grid;
    margin-bottom: 20px;
    transition: background-color 0.5s ease;
}

.product-specs-add-admin-wrapper #add-btn:hover{
    background-color:#fdc049;
}



.product-specs-add-admin-wrapper #send-btn{
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
    text-align: center;
    transition: background-color 0.5s ease;
    font-weight: 600;
    font-size: 16px;
    display: grid;
    margin-top: 20px;

}

.product-specs-add-admin-wrapper #send-btn:hover{
    background-color:#fdc049;
}

.product-spec-add-inputs-wrapper{
    margin-top:20px;
}

.product-spec-add-inputs {
    display:flex;
    flex-direction:column;
}

.product-spec-add-inputs label {
    font-weight: 700;
}

.product-spec-add-inputs input{
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px lightgrey solid;
    border-radius: 5px;
    background: white;
    width:100%;
}


